body
{
    background-color: gray;
    overflow-x: hidden;
}
header
{
    background-color: black;
}
header>ul
{
    display: flex;
    list-style: none;
    width: 50%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    row-gap: 1px;
}
header>ul>li
{
    flex: auto;
    border: 1px solid white;
    
}
header a
{
    cursor: pointer;
    text-decoration: none;
    display: block;
    padding: 2%;
    background-color: #5E0B6E;
    color: white;
    box-shadow: 1px 2px 2px black;
}
header a:hover
{
    background-color: 	#6E0B14;
    box-shadow: 1px 0 0 black;
}
main
{
    border: 1px solid;
    width: 60%;
    position: relative;
    left: 19%;
    height: auto;
    background-color: white;
    filter: opacity(85%);
}
main h3
{
    text-align: center;
}
#foto
{
    border: 2px solid black;
    width: 30%;
    padding: 2%;
    background-color: #6E0B14;
    padding-top: 6%;
    position: relative;
}
#datosPersonales>.contenedor
{
    display: flex;
    margin: 1%;
    gap: 2px;
}
#foto img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#foto>div
{
    width: 10vw;
    height: 20vh;
    border: 1px solid black;
    border-radius: 350px;
    overflow: hidden;
    position: absolute;
    top: 33%;
    left: 22%;
}
#datos
{
    border: 1px solid black;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
#datos>div:nth-child(1)>p
{
    margin-left: 30px;
}
#contacto
{
    border-left: 1px solid black;
    padding: 1%;
    text-align: center;
    align-self: center;
    height: 90%;
}
#contacto>img
{
    width: 3vh;
}
#estudos>.contenedor
{
    display: flex;
    justify-content: space-around;
}
#estudos>.contenedor:nth-child(2)
{
    border-bottom: 1px solid black;
}
#estudos>.contenedor>div:nth-child(1)>ul
{
    list-style: none;
}
#estudos>.contenedor>div
{
    width: 49%;
}
#estudos>.contenedor>div>ul
{
    position: relative;
    
}
#estudos>.contenedor>div:nth-child(1)>ul
{
    left: 15%;
}
#estudos>.contenedor>div:nth-child(2)>ul
{
    list-style: upper-roman;
    left: 20%;
}
#estudos>.contenedor>div:nth-child(2n)
{
    border-left: 1px solid black;
}
#nombre
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#circulos
{
    position: absolute;
    width: 100%;
    display: flex;
    gap: 20px;
    height: 100%;
}
.circulo
{
    border: 1px solid white;
    flex: auto;
    height: 10vh;
    position: relative;
    top: 5vh;
    border-radius: 30% 40% 50%;
    animation: moverse linear infinite;
}
.circulo:nth-child(1)
{
    animation-duration: 1s;
}
.circulo:nth-child(2)
{
    animation-duration: 10s;
}
.circulo:nth-child(3)
{
    animation-duration: 4s;
}
.circulo:nth-child(4)
{
    animation-duration: 15s;
}
.circulo:nth-child(5)
{
    animation-duration: 0.5s;
}
.circulo:nth-child(6)
{
    animation-duration: 20s;
}
.circulo:nth-child(7)
{
    animation-duration: 5s;
}
.circulo:nth-child(8)
{
    animation-duration: 6s;
}
.circulo:nth-child(9)
{
    animation-duration: 10s;
}
.circulo:nth-child(10)
{
    animation-duration: 800ms;
}
@media (max-width:800px) {
    main
    {
        width: 100%;
        left: 0;
    }
    #foto>div
    {
        width: 15vw;
        border-radius: 0px;
    }
    #estudos>.contenedor>div:nth-child(1)>ul
    {
        left: 5%;
    }
}
@media (max-width:450px)
{
    #datos>div:nth-child(1)>p
    {
        margin-left: 20px;
    }
    #estudos>.contenedor>div>ul
    {
        font-size: 2.6vw;
        margin: 0;
        padding: 0;
    }
    #estudos>.contenedor>div:nth-child(2)>ul
    {
        left: 20%;
    }
}
@keyframes moverse {
    0%
    {
        top: 5vh;
    }
    50%
    {
        top: 90%;
    }
    100%
    {
        top: 5vh;
    }
}